<div class="row">
  <div class="col-md-6">
      <ul>
		<li><strong>Before starting</strong>: <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></li>
      </ul>

	  <h3>Day 1: Monday 12th January</h3>
      <ul><li>10:00 - 13:30: <a href="https://nerc-esces.github.io/shell-intermediate-esces/">Intermediate Shell</a></li></ul>

	  <h3>Day 2: Tuesday 13th January</h3>
	  <ul><li>10:00 - 13:30: <a href="https://nerc-esces.github.io/python-best-practices-esces/">Introducing Good Software Development Practices with Python</a></li></ul>
      
      <h3>Day 3: Monday 19th January</h3>
      <ul><li>10:00 - 13:30: <a href="https://nerc-esces.github.io/python-intermediate-esces/">Data analysis with Python (Part 1)</a></li></ul>

	  <h3>Day 4: Tuesday 20th January</h3>
      <ul><li>10:00 - 13:30: <a href="https://nerc-esces.github.io/python-intermediate-esces/">Data analysis with Python (Part 2)</a></li></ul>
      
	  <ul><li><strong>After the course</strong>: <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></li></ul>
  </div>
</div>
